---
import { defaultDevUser, defaultScopes } from "fujocoded:authproto/config";
import type { OAuthScope } from "../lib/config.js";

interface Props {
  /** Optional redirect URL after successful login/logout */
  redirect?: string;
  /** Explicit scopes to request (ignores defaults, starts from empty). */
  scopes?: OAuthScope[];
  /** Additional scopes on top of defaultScopes. */
  additionalScopes?: OAuthScope[];
}

const { redirect: redirectUrl, scopes, additionalScopes } = Astro.props;
const currentUser = Astro.locals.loggedInUser;
const currentError =
  Astro.locals.authproto?.errorDescription ?? Astro.locals.authproto?.errorCode;

// Create the final set of scopes. If neither props are present, this will be
// empty, there will be no scopes hidden input, and the server will return the
// default scopes.
const resolvedScopes: OAuthScope[] = [];
if (scopes !== undefined) {
  // The scopes passed explicitly + atproto (must have)
  resolvedScopes.push("atproto", ...scopes);
} else if (additionalScopes !== undefined) {
  // The default scopes + the additional ones
  resolvedScopes.push(...defaultScopes, ...additionalScopes);
}

// @ts-expect-error
const { class: cssClass, "class:list": cssClassList } = Astro.props;
---

{
  currentUser ? (
    // If there's a current user, show the log out button
    <form
      action="/oauth/logout"
      method="post"
      class={cssClass}
      class:list={cssClassList}
    >
      {redirectUrl && (
        <input type="hidden" name="redirect" value={redirectUrl} />
      )}
      <button type="submit">Logout</button>
    </form>
  ) : (
    // If there's no current user, show the login button
    <form
      action="/oauth/login"
      method="post"
      class={cssClass}
      class:list={cssClassList}
    >
      <input
        name="atproto-id"
        value={import.meta.env.DEV ? defaultDevUser : undefined}
      />
      {redirectUrl && (
        <input type="hidden" name="redirect" value={redirectUrl} />
      )}
      {resolvedScopes?.map((s) => (
        <input type="hidden" name="scope" value={s} />
      ))}
      <button type="submit">Login</button>
    </form>
  )
}
{currentError && <div style="color:red;">{currentError}</div>}
