---
import { Image } from 'astro:assets';
import { Login } from "@fujocoded/authproto/components";
import { AtpBaseClient } from "@atproto/api";
import '../styles/bsky_table.css';

const FUJOCODED_HANDLE = "fujocoded.bsky.social";
const FUJOCODED_DID = "did:plc:737bslnnf7vyaktosjlrshmd";

const user = Astro.locals.loggedInUser;
const display_user = !user ? {did: FUJOCODED_DID, handle: FUJOCODED_HANDLE} : user;

const agent = new AtpBaseClient("https://public.api.bsky.app");
const display_profile = 
	await agent.app.bsky.actor.getProfile({ actor: display_user.did} );

//console.log(display_profile)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bluesky Profile</title>
	</head>
	<body>
		{!user ? "Log in below." : `Hello, ${user.handle} (${user.did})`}
		<Login />

		<br>
		<table> 
			<tr>
				<td>Display Name</td>
				<td>{display_profile.data.displayName}</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>{display_profile.data.description}</td>
			</tr>
			<tr>
				<td>Avatar</td>
				<td><Image src={display_profile.data.avatar} width=50 height=50 alt="{display_profile.data.displayName}'s avatar."/></td>
			</tr>
			<tr>
				<td>Created At</td>
				<td>{display_profile.data.createdAt}</td>
			</tr>
		</table>

	</body>
</html>
